@import '../../variables.scss';
$primary-color:#ffde03;

$--color-primary: $primary-color;

$primary-name:'orange';
@import '../components/app.scss';
@import "~element-ui/packages/theme-chalk/src/index";