@import '../../variables.scss';
$primary-color:#6200ee;

$--color-primary: $primary-color;

$primary-name:'purple';
@import '../components/app.scss';
@import "~element-ui/packages/theme-chalk/src/index";